<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @driver.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @driver.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @driver.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @driver.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @driver.title %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
